stages:
  - test
  - build
  - release

variables:
  GIT_DEPTH: 0
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}"

test_backend:
  stage: test
  image: golang:alpine
  rules:
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_MERGE_REQUEST_ID'
  script:
    - cd ./src/backend
    - GOOS=linux go vet -tags "${GO_TAGS}" ./...
    - GOOS=linux go test -tags "${GO_TAGS}" ./...

test_frontend:
  stage: test
  image: mcr.microsoft.com/playwright:v1.58.1-noble
  variables:
    GIT_DEPTH: "1"
    NPM_CONFIG_CACHE: "$CI_PROJECT_DIR/.npm"
    DENO_DIR: "$CI_PROJECT_DIR/.deno"
  cache:
    key:
      files:
        - src/frontend/package-lock.json
        - src/frontend/deno.json
    paths:
      - .npm/
      - .deno/
  rules:
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_MERGE_REQUEST_ID'
  before_script:
    - apt-get update
    - apt-get install -y unzip ca-certificates
  script:
    - export PATH="$HOME/.deno/bin:$PATH"
    - curl -fsSL https://deno.land/install.sh | sh
    - cd ./src/frontend
    - npm ci --prefer-offline
    - npm run test:unit
    - npm run test:e2e

build:
  stage: build
  image: golang:alpine
  needs:
    - job: build_frontend
      artifacts: true
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(develop|main)$/'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_MERGE_REQUEST_ID'
      when: manual
      allow_failure: true
  before_script:
    - wget https://dl-cdn.alpinelinux.org/alpine/v3.21/community/x86_64/upx-4.2.4-r0.apk
    - apk add git make upx-4.2.4-r0.apk fakeroot tar
  script:
    - |
      printf '%s\n' \
        'build_frontend:' \
        $'\tmkdir -p "$(USRSHARE_DIR)/magitrickle/skins/default"' \
        $'\tcp -r ./src/frontend/dist/* "$(USRSHARE_DIR)/magitrickle/skins/default"' \
        > .ci-frontend.mk
      for config in config/*/*.config; do
        . "${config}"
        cp "${config}" .config
        rm -rf "./.build/${PLATFORM}_${TARGET}"
        make -f Makefile -f .ci-frontend.mk build package
      done
  artifacts:
    paths:
      - .build/*.ipk
    expire_in: 1 week

build_frontend:
  stage: build
  image: node:22-alpine
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(develop|main)$/'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_MERGE_REQUEST_ID'
      when: manual
      allow_failure: true
  before_script:
    - apk add git make
  script:
    - make clear
    - make build_frontend
  artifacts:
    paths:
      - src/frontend/dist
    expire_in: 1 week

upload:
  stage: release
  needs: ["build"]
  image: curlimages/curl:latest
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - |
      ASSETS_LINKS=""
      for file in $(find .build -name '*.ipk'); do
        name=$(basename "${file}")
        url="${PACKAGE_REGISTRY_URL}/${name}"
        curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file "${file}" "${url}"
        ASSETS_LINKS="$ASSETS_LINKS --assets-link {\"name\":\"${name}\",\"url\":\"${url}\"}"
      done
      
      escaped_ASSETS_LINKS="${ASSETS_LINKS//\\/\\\\}"
      escaped_ASSETS_LINKS="${escaped_ASSETS_LINKS//\"/\\\"}"
      echo "ASSETS_LINKS=\"${escaped_ASSETS_LINKS}\"" > .env
  artifacts:
    paths:
      - .env
    expire_in: 1 hour

release:
  stage: release
  needs: ["upload"]
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - |
      source .env
      release-cli create --name "${CI_COMMIT_TAG}" --tag-name "${CI_COMMIT_TAG}" ${ASSETS_LINKS}
