stages:
  - test
  - build
  - release

variables:
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}"

test:
  stage: test
  image: golang:alpine
  rules:
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_MERGE_REQUEST_ID'
  script:
    - cd ./src/backend
    - GOOS=linux go vet -tags "${GO_TAGS}" ./...
    - GOOS=linux go test -tags "${GO_TAGS}" ./...

build:
  stage: build
  image: golang:alpine
  parallel:
    matrix:
      #
      # Entware
      #
      - PLATFORM: entware
        TARGET: aarch64-3.10
        GOOS: linux
        GOARCH: arm64
      - PLATFORM: entware
        TARGET: aarch64-3.10_kn
        GOOS: linux
        GOARCH: arm64
      - PLATFORM: entware
        TARGET: armv7-3.2
        GOOS: linux
        GOARCH: arm
        GOARM: 7,softfloat
      - PLATFORM: entware
        TARGET: mips-3.4
        GOOS: linux
        GOARCH: mips
        GOMIPS: softfloat
      - PLATFORM: entware
        TARGET: mips-3.4_kn
        GOOS: linux
        GOARCH: mips
        GOMIPS: softfloat
      - PLATFORM: entware
        TARGET: mipsel-3.4
        GOOS: linux
        GOARCH: mipsle
        GOMIPS: softfloat
      - PLATFORM: entware
        TARGET: mipsel-3.4_kn
        GOOS: linux
        GOARCH: mipsle
        GOMIPS: softfloat

      #
      # OpenWRT
      #
      - PLATFORM: openwrt
        TARGET: aarch64_cortex-a53
        GOOS: linux
        GOARCH: arm64
      - PLATFORM: openwrt
        TARGET: aarch64_cortex-a72
        GOOS: linux
        GOARCH: arm64
      - PLATFORM: openwrt
        TARGET: aarch64_cortex-a76
        GOOS: linux
        GOARCH: arm64
      - PLATFORM: openwrt
        TARGET: aarch64_generic
        GOOS: linux
        GOARCH: arm64
      - PLATFORM: openwrt
        TARGET: arm_arm1176jzf-s_vfp
        GOOS: linux
        GOARCH: arm
        GOARM: 6
      - PLATFORM: openwrt
        TARGET: arm_arm926ej-s
        GOOS: linux
        GOARCH: arm
        GOARM: 5
      - PLATFORM: openwrt
        TARGET: arm_cortex-a15_neon-vfpv4
        GOOS: linux
        GOARCH: arm
        GOARM: 7
      - PLATFORM: openwrt
        TARGET: arm_cortex-a5_vfpv4
        GOOS: linux
        GOARCH: arm
        GOARM: 7
      - PLATFORM: openwrt
        TARGET: arm_cortex-a7
        GOOS: linux
        GOARCH: arm
        GOARM: 5
      - PLATFORM: openwrt
        TARGET: arm_cortex-a7_neon-vfpv4
        GOOS: linux
        GOARCH: arm
        GOARM: 7
      - PLATFORM: openwrt
        TARGET: arm_cortex-a7_vfpv4
        GOOS: linux
        GOARCH: arm
        GOARM: 7
      - PLATFORM: openwrt
        TARGET: arm_cortex-a8_vfpv3
        GOOS: linux
        GOARCH: arm
        GOARM: 7
      - PLATFORM: openwrt
        TARGET: arm_cortex-a9
        GOOS: linux
        GOARCH: arm
        GOARM: 5
      - PLATFORM: openwrt
        TARGET: arm_cortex-a9_neon
        GOOS: linux
        GOARCH: arm
        GOARM: 7
      - PLATFORM: openwrt
        TARGET: arm_cortex-a9_vfpv3-d16
        GOOS: linux
        GOARCH: arm
        GOARM: 7
      - PLATFORM: openwrt
        TARGET: arm_fa526
        GOOS: linux
        GOARCH: arm
        GOARM: 5
      - PLATFORM: openwrt
        TARGET: arm_xscale
        GOOS: linux
        GOARCH: arm
        GOARM: 5
      - PLATFORM: openwrt
        TARGET: i386_pentium4
        GOOS: linux
        GOARCH: 386
        GO386: sse2
      - PLATFORM: openwrt
        TARGET: i386_pentium-mmx
        GOOS: linux
        GOARCH: 386
        GO386: softfloat
      - PLATFORM: openwrt
        TARGET: loongarch64_generic
        GOOS: linux
        GOARCH: loong64
      - PLATFORM: openwrt
        TARGET: mips_24kc
        GOOS: linux
        GOARCH: mips
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: mips_4kec
        GOOS: linux
        GOARCH: mips
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: mips64el_mips64r2
        GOOS: linux
        GOARCH: mips64le
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: mips64_mips64r2
        GOOS: linux
        GOARCH: mips64
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: mips64_octeonplus
        GOOS: linux
        GOARCH: mips64
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: mipsel_24kc_24kf
        GOOS: linux
        GOARCH: mipsle
        GOMIPS: hardfloat
      - PLATFORM: openwrt
        TARGET: mipsel_24kc
        GOOS: linux
        GOARCH: mipsle
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: mipsel_74kc
        GOOS: linux
        GOARCH: mipsle
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: mipsel_mips32
        GOOS: linux
        GOARCH: mipsle
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: mips_mips32
        GOOS: linux
        GOARCH: mips
        GOMIPS: softfloat
      - PLATFORM: openwrt
        TARGET: riscv64_generic
        GOOS: linux
        GOARCH: riscv64
      - PLATFORM: openwrt
        TARGET: x86_64
        GOOS: linux
        GOARCH: amd64
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(develop|main)$/'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_MERGE_REQUEST_ID'
      when: manual
      allow_failure: true
  before_script:
    - wget https://dl-cdn.alpinelinux.org/alpine/v3.21/community/x86_64/upx-4.2.4-r0.apk
    - apk add nodejs npm git make upx-4.2.4-r0.apk fakeroot tar
  script:
    - PLATFORM="${PLATFORM}" TARGET="${TARGET}" GOOS="${GOOS}" GOARCH="${GOARCH}" GOMIPS="${GOMIPS}" GOARM="${GOARM}" GO_TAGS="${GO_TAGS}" make
  artifacts:
    paths:
      - .build/*.ipk
    expire_in: 1 week

upload:
  stage: release
  needs: ["build"]
  image: curlimages/curl:latest
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - |
      ASSETS_LINKS=""
      for file in $(find .build -name '*.ipk'); do
        name=$(basename "${file}")
        url="${PACKAGE_REGISTRY_URL}/${name}"
        curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file "${file}" "${url}"
        ASSETS_LINKS="$ASSETS_LINKS --assets-link {\"name\":\"${name}\",\"url\":\"${url}\"}"
      done
      
      escaped_ASSETS_LINKS="${ASSETS_LINKS//\\/\\\\}"
      escaped_ASSETS_LINKS="${escaped_ASSETS_LINKS//\"/\\\"}"
      echo "ASSETS_LINKS=\"${escaped_ASSETS_LINKS}\"" > .env
  artifacts:
    paths:
      - .env
    expire_in: 1 hour

release:
  stage: release
  needs: ["upload"]
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - |
      source .env
      release-cli create --name "${CI_COMMIT_TAG}" --tag-name "${CI_COMMIT_TAG}" ${ASSETS_LINKS}
